<p>List Ticket</p>
<table class="table table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Price</th>
            <th scope="col">Trip</th>
            <th scope="col">Car Owner</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each tickets}}
        <tr>
            <th scope="row" class="id">{{id}}</th>
            <td>{{startTime}}</td>
            <td>{{endTime}}</td>
            <td>{{price}}</td>
            <td>{{FromTo}}</td>
            <td>{{carOwnerName}}</td>
            <td class="action">
                <ion-icon name="create" onclick="show({{id}})"></ion-icon>
                <a href="/admin/deleteTicket/{{id}}"><ion-icon name="trash" onclick="deleteTicket()"></ion-icon></a>
            </td>
        </tr>
        <tr class="detail detail_{{id}}" hidden>
            {{!-- <th scope="row" class="id"></th> --}}
            <td colspan="10">
                <form id="myform1" action="/admin/updateTicket/{{id}}" method="POST">
                    <input type="hidden" name="carOwnerSelected" value="{{carOwnerName}}">

                    <div class="row">
                        <div class="col">
                            <label>Start</label>
                            <input type="datetime-local" class="form-control" name="start" required>
                        </div>
                        <div class="col">
                            <label>End</label>
                            <input type="datetime-local" class="form-control" name="end" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>From-To</label>
                            <select name="idTrip" class="form-control fromto" id="trip" required>
                                {{#each trips}}
                                <option value={{id}}>{{fromName}} - {{toName}}</option>
                                {{/each}}
                            </select>

                        </div>
                        <div class="col">
                            <label>Car Owner</label>

                            <select name="idCarOwner" class="form-control carowner" id="carowner" required>
                                {{#each cars}}
                                <option value={{id}}>{{name}}</option>
                                {{/each}}
                            </select>

                        </div>
                    </div>
                    <div class="row">
                        <div class="price">
                            <label>Price</label>
                            <input type="text" class="form-control" name="price" required>
                        </div>
                    </div>
                    <button type="submit" class="btn-primary btnSave">Save</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div class="form_wrapper">
    <p>Add more Ticket</p>
    <form id="myform2" action="/admin/addTicket" method="POST">
        <div class="row">
            <div class="col">
                <label>Start</label>
                <input type="datetime-local" class="form-control" name="start" required>
            </div>
            <div class="col">
                <label>End</label>
                <input type="datetime-local" class="form-control" name="end" required>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>From-To</label>

                <select name="idTrip" class="form-control" required>
                    {{#each trips}}
                    <option value={{id}}>{{from}}-{{to}}</option>
                    {{/each}}
                </select>

            </div>
            <div class="col">
                <label>Car Owner</label>

                <select name="idCarOwner" class="form-control" required>
                    {{#each cars}}
                    <option value={{id}}>{{name}}</option>
                    {{/each}}
                </select>

            </div>
        </div>
        <div class="row">
            <div class="price">
                <label>Price</label>
                <input type="text" class="form-control" name="price" required>
            </div>
        </div>
        <button type="submit" class="btn-primary btnAdd">Add</button>
    </form>
</div>