{{> header}}

<main>
    <div class="ctcx">Chi tiết chuyến xe</div>
    <div class="container">
        <!-- <div class ="ctcx">Chi tiết chuyến xe</div> -->
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {{#each imgCar}}
                <div class="carousel-item active">
                    <img src={{this}} class="d-block" alt={{this}}>
                </div>
                {{/each}}
                {{!-- <div class="carousel-item">
                    <img src="/img/2.jpg" class="d-block " alt="2">
                </div>
                <div class="carousel-item">
                    <img src="/img/3.jpg" class="d-block" alt="3">
                </div> --}}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <div class="small-img">
                {{#each imgCar}}
                <img src={{this}} class="small" alt={{this}}>
                {{!-- <img src="/img/2.jpg" class="small" alt="">
                <img src="/img/3.jpg" class="small" alt=""> --}}
                {{/each}}
            </div>

        </div>
        <div class="detail2">
            <div class="name">Nhà xe {{name}}</div>
            <div class="type">Loại xe: xe Limousine 9 chỗ</div>
            <div class="fromto">Điểm đón:</div>
            {{#each fromPlace}}
            {{!-- <div class="fromto">(TP. Hồ Chí Minh) TP HCM <span>&#x27F6;</span> Quãng Ngãi (QN)</div> --}}
            <div class="fromto" style="font-size: 18px;">- {{places}}</div>
            {{/each}}
            <div class="fromto">Điểm trả:</div>
            {{#each toPlace}}
            {{!-- <div class="fromto">(TP. Hồ Chí Minh) TP HCM <span>&#x27F6;</span> Quãng Ngãi (QN)</div> --}}
            <div class="fromto" style="font-size: 18px;">- {{places}}</div>
            {{/each}}
        </div>

    </div>
    <div class="choose_seat">
        <span class="wanted">Sơ đồ chỗ ngồi</span>
        {{{ generateTypeOfCar type }}}
        <div class="price">
            <span>Tổng tiền: 540.000đ</span>
            <button type="button" class="btn btn-danger">
                <a href="/info_form/{{id}}">
                    Đặt vé
                </a>
            </button>
        </div>

    </div>
    <div class="detail_nhaxe">
        <span>Thông tin nhà xe</span>
        <div class="chitietnhaxe">
            <p>- Tổng đài đặt vé & CSKH Phương Trang 24/7: 1900 6067.</p>
            <p>- Số điện thoại hotline xe Phương Trang: 1900 6667 (Vận chuyển hành khách) – 1900 6767 (Vận chuyển hàng
                hóa).25 thg
                7,
                2021</p>
            <p>- Bến xe Nam Định: 0228 386 3863</p>
            <p>- Bến xe Giáp Bát: 0243 864 1919</p>
        </div>

    </div>
    <div class="policy">
        <span>Chính sách</span>
        <div class="policy-detail">
            <p>An toàn Covid-19</p>
            <p>- Xuất trình Khai báo Y tế trước khi lên xe và tuân thủ quy tắc 5K của Bộ Y tế khi di chuyển</p>
            <p>- Cung cấp đầy đủ họ tên, số điện thoại, địa chỉ cư trú khi đặt vé</p>
            <p>- Yêu cầu đeo khẩu trang khi lên xe</p>
        </div>
        <div class="policy-detail">
            <p>An toàn Covid-19</p>
            <p>- Xuất trình Khai báo Y tế trước khi lên xe và tuân thủ quy tắc 5K của Bộ Y tế khi di chuyển</p>
            <p>- Cung cấp đầy đủ họ tên, số điện thoại, địa chỉ cư trú khi đặt vé</p>
            <p>- Yêu cầu đeo khẩu trang khi lên xe</p>
        </div>
    </div>
    <div class="rating">
        <span class="rate-overall">Đánh giá
            <span class="star">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
            </span>
        </span>
        <form action="" class="write-comment">
            <span>Viết đánh giá của bạn</span>
            <span class="star">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" value ="2"></i>
                <i class="fa fa-star" value = "3"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </span>
            <input type="text" placeholder="Đánh giá...." name="rate_cmt">
            <!-- <button type="submit" class = "btn btn-danger" >Gửi</button> -->
        </form>

        <div class="rate">
            <span class="users">NDuy</span>
            <span class="star">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>

            </span>
            <span class="comments">rất hài lòng về chuyến đi, lần sau sẽ tiếp tục đi chuyến này lorem ipsum dolor sit
                amet consectetur, adipisicing elit. Provident, distinctio?</span>
        </div>
        <div class="rate">
            <span class="users">KLong</span>
            <span class="star">
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>

            </span>
            <span class="comments">rất không thoải mái với chuyến đi này lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Provident, distinctio? Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Alias, eius. </span>
        </div>
    </div>
</main>