{{> header}}

<main>
    <div class="info">
        <div class="info_check">
            <h3>Xác nhận thông tin</h3>
            <div class="form_wrapper">
                <div class="info_name">
                    <span class="name_span">Ông {{name}}</span>
                    <span class="edit_span"><a href="/info_form/{{id}}">Chỉnh sửa thông tin</a></span>
                </div>

                <form id="myform" action="/api/sengrid" method="POST">
                    <input type="hidden" value="{{name}}" name="name">
                    <input type="hidden" name="from" value="{{from}}">
                    <input type="hidden" name="to" value="{{to}}">
                    <input type="hidden" name="start" value="{{timeStart}}">
                    <input type="hidden" name="end" value="{{timeEnd}}">
                    <input type="hidden" name="date" value="{{date}}">
                    <div class="row">
                        <div class="col">
                            <label>Số điện thoại</label>
                            <input type="text" class="form-control-plaintext form_phone" value={{phone}} name="phone">
                        </div>
                        <div class="col">
                            <label>Email</label>
                            <input type="email" class="form-control-plaintext form_email" value={{email}} name="email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>CMND/CCCD</label>
                            <input type="text" class="form-control-plaintext form_cmnd" value={{cmnd}} name="cmnd">
                        </div>
                        <div class="col">
                            <label>Quốc tịch</label>
                            <input type="text" class="form-control-plaintext form_country" value={{country}}
                                name="country">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label>Điểm đón</label>
                            <input type="text" class="form-control-plaintext form_fromPlaces" value="{{fromPlaces}}"
                                name="fromPlace">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Điểm đến</label>
                            <input type="text" class="form-control-plaintext form_toPlaces" value="{{toPlaces}}"
                                name="toPlace">
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="info_ticket">
            <div class="info">
                <span>
                    <ion-icon name="ticket"></ion-icon>
                    {{from}} <span>&#8594</span> {{to}}
                </span>
                <p>Chuyến xe đi {{date}}</p>
                <div class="car_name">
                    <img src="{{imgLogo}}" alt="{{carOwner}}">
                    <span>{{carOwner}}</span>
                </div>
                <div class="ticket_time">
                    <div class="time_from">
                        <p>{{timeStart}}</p>
                        <div class="where">{{from}}</div>
                    </div>
                    <div class="total_time">
                        <p>{{hour}}</p>
                        <div class="line"></div>
                    </div>
                    <div class="time_to">
                        <p>{{timeEnd}}</p>
                        <div class="where">{{to}}</div>
                    </div>
                </div>
            </div>
            <button type="submit" form="myform" class="btn btn-primary btn_continue">
                Xác nhận
            </button>
        </div>
    </div>
</main>