{{> header}}

<main>
    <div class="info">
        <div class="info_form">
            <h3>Thông tin liên hệ</h3>
            <div class="form_wrapper">
                <form id="myform" action="/info_check" method="POST">
                    <input type="hidden" name="id" value={{id}}>
                    <div class="row">
                        <div class="col">
                            <label>Họ và tên</label>
                            <input type="text" class="form-control form_name" placeholder="Vui lòng điền tên"
                                name="name" required>
                        </div>
                        <div class="col">
                            <label>Ngày sinh</label>
                            <input type="date" class="form-control form_birth" name="birth" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Số điện thoại</label>
                            <input type="text" class="form-control form_phone" placeholder="Vui lòng điền số điện thoại"
                                name="phone" required>
                        </div>
                        <div class="col">
                            <label>Email</label>
                            <input type="email" class="form-control form_email" placeholder="Vui lòng điền email"
                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>CMND/CCCD</label>
                            <input type="text" class="form-control form_cmnd" placeholder="Vui lòng điền số CMND/CCCD"
                                name="cmnd" required>
                        </div>
                        <div class="col">
                            <label>Quốc tịch</label>
                            <select class="form-select country_option" aria-label="Default select example"
                                name="country" required>
                                <option value="" selected>Vui lòng chọn quốc tịch</option>
                                {{#each countries}}
                                <option value={{this}}>{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label>Điểm đón</label>
                            <select class="form-select" aria-label="Default select example" name="fromPlace" required>
                                <option selected value="">Vui lòng chọn điểm đón</option>
                                {{#each fromList}}
                                <option value={{id}}>{{places}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col">
                            <label>Điểm đến</label>
                            <select class="form-select" aria-label="Default select example" name="toPlace" required>
                                <option selected value="">Vui lòng chọn điểm trả</option>
                                {{#each toList}}
                                <option value={{id}}>{{places}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="info_ticket">

            <div class="info">
                <span>
                    <ion-icon name="ticket"></ion-icon>
                    {{from}} <span>&#8594</span> {{to}}
                </span>
                <p>Chuyến xe đi {{date}}</p>
                <div class="car_name">
                    <img src="/img/PT_logo.png" alt="Phuong Trang">
                    <span>{{carOwner}}</span>
                </div>
                <div class="ticket_time">
                    <div class="time_from">
                        <p>{{timeStart}}</p>
                        <div class="where">{{from}}</div>
                    </div>
                    <div class="total_time">
                        <p>{{hours}}</p>
                        <div class="line"></div>
                    </div>
                    <div class="time_to">
                        <p>{{timeEnd}}</p>
                        <div class="where">{{to}}</div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn_continue" form="myform">
                {{!-- <a href=" /info_check/{{id}}">
                </a> --}}
                Tiếp tục
            </button>

        </div>
    </div>
</main>