{{> header}}

<main>
    <div class="info">
        <div class="info_check">
            <h3>Xác nhận thông tin</h3>
            <div class="form_wrapper">
                <div class="info_name">
                    <span class="name_span">Ông {{name}}</span>
                    <span class="edit_span"><a href="/info_form">Chỉnh sửa thông tin</a></span>
                </div>

                <form>
                    <div class="row">
                        <div class="col">
                            <label>Số điện thoại</label>
                            <input type="text" class="form-control-plaintext" value={{phone}}>
                        </div>
                        <div class="col">
                            <label>Email</label>
                            <input type="email" class="form-control-plaintext" value={{email}}>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>CMND/CCCD</label>
                            <input type="text" class="form-control-plaintext" value={{cmnd}}>
                        </div>
                        <div class="col">
                            <label>Quốc tịch</label>
                            <input type="text" class="form-control-plaintext" value={{country}}>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label>Điểm đón</label>
                            <input type="text" class="form-control-plaintext" value={{fromPlaces}}>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Điểm đến</label>
                            <input type="text" class="form-control-plaintext"
                                value=" Sa Huỳnh Quốc lộ 1A, Xã Phổ An, Đức Phổ, Quảng Ngãi">
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="info_ticket">
            <div class="info">
                <span>
                    <ion-icon name="ticket"></ion-icon>
                    {{from}} <span>&#8594</span> {{to}}
                </span>
                <p>Chuyến xe đi {{date}}</p>
                <div class="car_name">
                    <img src="/img/PT_logo.png" alt="Phuong Trang">
                    <span>{{carOwner}}</span>
                </div>
                <div class="ticket_time">
                    <div class="time_from">
                        <p>{{timeStart}}</p>
                        <div class="where">{{from}}</div>
                    </div>
                    <div class="total_time">
                        <p>{{hour}}</p>
                        <div class="line"></div>
                    </div>
                    <div class="time_to">
                        <p>{{timeEnd}}</p>
                        <div class="where">{{to}}</div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn_continue">
                <a href="/">
                    Xác nhận
                </a>
            </button>
        </div>
    </div>
</main>