{{> header}}

<main class="list_serach">
    <div class="search_info">
        <div class="info">
            <div class="info_place">
                {{fromName}} <span>&#8594</span> {{toName}}
            </div>
            <div class="info_other">
                {{weekDay}} | 1 hành khách
            </div>
        </div>
        <button type="button" class="btn btn-primary btn_search_again">
            <a href="./">
                <ion-icon class="find_icon" name="search"></ion-icon>
                Đổi tìm kiếm
            </a>
        </button>
    </div>

    <div class="filter row">
        <p class="col-md-1">Bộ lọc</p>

        <div class="car_filter col-md-2">
            <select class="form-select carOwner_option" aria-label="Default select example">
                <option value="" selected>Nhà xe</option>
                {{#each carOwner}}
                <option value="{{name}}">{{name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="car_type col-md-2">

            <select class="form-select col type_option" aria-label="Default select example">
                <option selected value="">Loại xe</option>
                {{#each typeCar}}
                <option value="{{type}}">{{type}} chỗ</option>
                {{/each}}
            </select>
        </div>

        <div class="cost_filter col-md-2">
            <select class="form-select col price_option" aria-label="Default select example">
                <option selected>Giá tiền</option>
                <option value="INCR">Từ thấp đến cao</option>
                <option value="DESC">Từ cao đến thâp</option>
            </select>
        </div>
    </div>

    <div class="list_ticket">
        {{#if list}}
        {{#each list}}
        <div class="ticket">
            <input type="hidden" value="{{typeCar}}">
            <div class="ticket_car ">
                <div class="car_name">
                    <img src="{{imgLogo}}" alt="{{carOwnerName}}">
                    <span>{{carOwnerName}}</span>
                </div>
                <div class="chair">
                    Còn {{blank}} chỗ trống
                </div>
            </div>
            <div class="ticket_time">
                <div class="time_from">
                    <p>{{timeStart}}</p>
                    <div class="where">{{from}}</div>
                </div>
                <div class="total_time">
                    <p>{{hours}}h</p>
                    <div class="line"></div>
                </div>
                <div class="time_to">
                    <p>{{timeEnd}}</p>
                    <div class="where">{{to}}</div>
                </div>
            </div>
            <div class="ticket_price">
                <div class="price">
                    {{price}}<span>khách</span>
                </div>
                <button type="button" class="btn btn-primary btn_chose">
                    <a href="detail/{{id}}">
                        Chọn
                    </a>
                </button>
            </div>
        </div>
        {{/each}}
        {{else}}
        <div class="ticket_mess">Không tìm thấy vé xe! Hoặc đã hết vé vào thời gian này. Vui lòng thử lại!</div>
        {{/if}}

    </div>
</main>